*{
    /*font-family:微軟正黑體;*/
    /*border: solid black 1px ;*/	  
} 



p{
	font-family:微軟正黑體;
	font-weight: bold;	
	color: #84959e;
	font-size: 13px;
}

h1{
	font-family:微軟正黑體;
	color: #343a40;
	font-weight: bold;
}

h3{
	font-family:微軟正黑體;
	color: #84959e; 
	font-size: 18px;
}

h4{
	font-family:微軟正黑體;
	color: #84959e; 
	font-size: 22px;
	font-weight: bold;
}


h5{
	font-family:微軟正黑體;
	font-weight: bold;
	font-size: 15px;		
}



a{
	color: #84959e;  
	font-size: 13px;	

}

#have_no{
	color: #d6394c;
	display: none; 
}

#last{
	color: #d6394c;
	display: none; 
}

#not_length{
	display: none;
}

#not_self{
	display: none;
}

#not_recommender{
	display: none;
}

#confirm_withdraw{
	display: none;
}

#approve_withdraw{
	display: none;
}


.subscribe p{
	color: #343a40;
	font-size: 15px;
}

.status{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #49b782;	
	margin: 8px;
    box-shadow: 2px 2px 2px 0 rgba(73, 183, 130, 0.75);
    
}


.my_address{
	display: flex;
	justify-content: center;
	align-items: center;	
	border-radius: 30px;	
	padding: 8px;
	margin: 12px;
	margin-bottom:32px;
}

.cos_center{	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;	
}

.cos_shadow{
	box-shadow: 
    3px 3px 4px 0 rgba(0, 0, 0, 0.1),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.65);
}

.main_style{	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;	
	padding: 50px 0px;
}

.info_card{	
	width: 300px;
	border-radius: 8px;
	padding: 30px;
	background-color: #FFFFFF;
}


.cos_background{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(68, 134, 170, 0.7)),url(./img/pexels-felix-mittermeier-956981.jpg);
	position: relative;
  	height: 450px; 	
	background-repeat: no-repeat;
	background-position: center;  
  	background-size: cover;
  	background-color: #f1f1f1;  	
  	background-attachment: fixed;

	-webkit-background-size: cover !important; 
	-moz-background-size: cover !important; 
	-o-background-size: cover;    
	z-index: -1;
}

.cos_background:before{
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
    -webkit-background-size: cover!important;
    -o-background-size: cover;
    background-size: cover!important;
}


.cos_footer{
	background-color:#343a40;
	display: flex;
	justify-content: center;
	align-items: center;	
	padding: 30px; 	

}



/*input_style*/
/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}

input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}