
*{
    /*font-family:微軟正黑體;*/
   /* border: solid black 1px ;	  */
} 

p{
	font-family:微軟正黑體;
	font-weight: bold;	
	color: #84959e;
	font-size: 13px;
}

h3{
	color: #84959e; 
}

h5{
	font-size: 15px;
}



a{
	color: #84959e;  
	font-size: 15px;	

}

.cos_center{	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;	
}

.cos_shadow{
	box-shadow: 
    3px 3px 4px 0 rgba(0, 0, 0, 0.1),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.65);
}

.cos_media{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.drop-shadow {
    -webkit-filter: drop-shadow(-3px -3px 4px rgba(255, 255, 255, 0.85)) drop-shadow(2px 2px 3px rgba(52, 58, 64, 0.55));
    filter:drop-shadow(-4px 3px 4px rgba(255, 255, 255, 0.85)) drop-shadow(4px 3px 4px rgba(52, 58, 64, 0.70)); 
}


.status{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #49b782;	
	margin: 8px;
    box-shadow: 2px 2px 2px 0 rgba(73, 183, 130, 0.75);
    
}

.main_style{
	background-color:#f2f3f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;	
	padding: 30px 0px;
}


.my_address{
	display: flex;
	justify-content: center;
	align-items: center;	
	border-radius: 30px;	
	padding: 8px;
	margin: 30px;
}


.invest{
	padding: 30px;
}

.card{
	background-color:#f2f3f7;
	border: 0px;
}

.coffer_img{
	width: 130px;
	height: 149.5px;
	background-image: url(./img/de_coffer_Wlogo.png);
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover;	  	
}

.cos_footer{
	background-color:#343a40;
	display: flex;
	justify-content: center;
	align-items: center;	
	padding: 30px; 	
}